.primary-button, .orange-button, .edit-button, .delete-button{
    display: inline-block;
    border: none;
    border-radius: 3px;
    margin: 4px;
    padding: 6px 10px;
    font-size: 1em;
    vertical-align: text-top;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
    cursor: pointer;
}

.primary-button:hover, .orange-button:hover, .edit-button:hover, .delete-button:hover{
    opacity: 0.9;
}

.orange-button{
    background-color: #F7971E;
}

.orange-button:hover{
    background-color: #F7971E;
}

.delete-button {
    background-color: #E84E4E;
}

.edit-button{
    background-color: #F7971E;
}

.icon{
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: top;
}
