.pop-up{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 100px 50px;
}

.pop-up::-webkit-scrollbar{
    display: none;
}

.pop-up-container{
    position: relative;
    background-color: white;
    border-radius: 5px;
    min-width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
}

.close-button{
    height: 18px;
    width: 18px;
    padding: 0;
    background-color: white;
    border: none;
    position: absolute;
    right: 3px;
    top: 3px;
    opacity: .8;
}

.close-button:hover{
    opacity: 1;
}

.pop-up-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    gap: 10px;
}

.title{
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.description{
    margin: 0;
    text-align: center; 
    max-width: 450px;
}

.pop-up-footer{
    display: flex;
    justify-content: space-evenly;
}