*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #6e6e6e;
}

.container {
  padding-top: 45px;
}

.sign-in-and-up-container{
  max-width: 420px;
  margin: auto;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
}

.notify-container{
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 30%;
  padding: 4px;
}

@media screen and (max-width:820px) {
  .notify-container{
    width: 100%;
    margin-left: 5px;
  }
}